<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <style>
    body {
        font-family: 'Segoe UI', sans-serif;
    }
    </style>

    <title>Pokédex Web</title>
</head>
<body>
    <h1>Pokémon Analyser</h1>
    <form action="/search" method="post">
        <input type="text" name="query" placeholder="Enter name or number">
        <button type="submit">Analyse</button>
    </form>

    {% if result %}
        <h2>{{ result.name }}</h2>
        <img src="{{ result.sprite_url }}" alt="Sprite of {{ result.name }}">

        <p><strong>Type:</strong> {{ result.types | join(', ') }}</p>
        <p><strong>Game introduced:</strong> {{ result.game_title }}</p>

        <h3>Stats</h3>
        <ul>
        {% for stat, value in result.stats.items() %}
            <li>{{ stat }}: {{ value }}</li>
        {% endfor %}
        </ul>

        <h3>Offensive profiles</h3>
        {% for type, profile in result.offensive_profiles.items() %}
            <h4>{{ type }} type offensive profile:</h4>
            <ul>
                <li>🔥 2x damage to: {{ profile['2x'] | join(', ') }}</li>
                <li>😩 0.5x damage to: {{ profile['0.5x'] | join(', ') }}</li>
                <li>⛔ 0x damage to: {{ profile['0x'] | join(', ') }}</li>
            </ul>
        {% endfor %}


        <h3>Defending vs move type</h3>
        <form method="post" action="/defend">
        <input type="hidden" name="query" value="{{ result.name }}">
            <select name="move_type">
                <option value="normal">Normal</option>
                <option value="fire">Fire</option>
                <option value="water">Water</option>
                <option value="electric">Electric</option>
                <option value="grass">Grass</option>
                <option value="ice">Ice</option>
                <option value="fighting">Fighting</option>
                <option value="poison">Poison</option>
                <option value="ground">Ground</option>
                <option value="flying">Flying</option>
                <option value="psychic">Psychic</option>
                <option value="bug">Bug</option>
                <option value="rock">Rock</option>
                <option value="ghost">Ghost</option>
                <option value="dragon">Dragon</option>
                <option value="dark">Dark</option>
                <option value="steel">Steel</option>
                <option value="fairy">Fairy</option>
            </select>
            <button type="submit">Check Effectiveness</button>
            </form>
        <p><strong>Effectiveness:</strong> {{ result.defensive_effectiveness.move_type_effectiveness }}</p>
    {% endif %}
</body>
</html>
